body {
    background-image: url('https://s0.smartresize.com/wallpaper/320/86/HD-wallpaper-road-so-calm.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Arial', sans-serif;
    color: #333;
}

header {
    background: linear-gradient(to right, hsl(116, 55%, 71%), hsl(198, 53%, 79%));
    padding: 3px 10px;
    text-align: center;
}

.image-container {
    text-align: center; 
    margin-top: 20px; 
    padding: 10px;
}

.image-container img {
    width: 100%; 
    max-width: 1000px;
    padding: 5px; 
    border-radius: 10px;
    margin: 0 auto;
}

h1, h2 {
    color: #6a0572;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.container {
    background-color: rgba(112, 169, 174, 0.8);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.list-group-item {
    background-color: #99db8d57;
    border: none;
    margin-bottom: 10px; 
    padding: 10px; 
    border-radius: 5px; 
}

.list-group-item h5 {
    color: #d63384;
    padding-right: 5px;
    margin-bottom: 5px; 
}

footer {
    background-color: rgba(76, 156, 109, 0.8);
    padding: 20px;
    text-align: center;
}

.btn {
    transition: background-color 0.3s;
}

.btn:hover {
    filter: brightness(90%);
}

img.rounded-circle {
    border: 3px solid #ffc3a0;
}

p {
    color: #000000;
    font-size: 18px;
}

h5 {
    font-size: 19px;
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    h1, h2 {
        font-size: 1.5em;
    }

    p {
        font-size: 16px;
    }

    .image-container img {
        max-width: 100%;
    }

    .list-group-item {
        padding: 8px;
    }

    h5 {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    h1, h2 {
        font-size: 1.2em;
    }

    p {
        font-size: 14px;
    }

    .image-container img {
        width: 100%;
    }
}
